server:
  port: 8070
spring:
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/sb_webflux_db
    username: postgres
    password:
    pool:
      enabled: true

  flyway:
    enabled: true
    locations:
      - classpath:/db/migration
    baseline-on-migrate: false
    out-of-order: false
    validate-on-migrate: false
    url: jdbc:postgresql://localhost:5432/sb_webflux_db
    user: postgres
    password: